/* .motkhoi{border: 1px dashed black; width: 400px; text-align: right; margin: 100px 100px;}
.text{background-color: rgb(214, 230, 208); text-align: end;}
input{background-color:rgb(230, 197, 135);}
.text:hover{transform: translateX(400px);opacity: 0} 
 .khoinho{font-family: 'Raleway', sans-serif;}
 .motkhoi{opacity: 0; visibility: hidden; margin-left: -500px; transition: 1s;}
.active{opacity: 1; visibility: visible; margin-left:  100px; transition: 1s;}
*{margin: 0; padding: 0;}
.dangnhap{position: fixed;} */
.container1{display: grid;
grid-template-areas:
'header header header'
'sidebar main main'
'footer footer footer';
grid-template-columns: 400px 1fr 1fr 1fr;
}
.header{background-color: antiquewhite; grid-area: header;}
.sidebar{background-color: rgb(217, 190, 156); grid-area: sidebar;}
 .main{background-color: rgb(209, 175, 129);grid-area: main;}
.footer{background-color: rgb(211, 168, 112); grid-area: footer;}
@media (min-width: 300px) {.header{background-color:red}}